@media only screen and (max-width: 740px) {
  .container {
    height: 900px;
  }
  .icing {
    margin-top: -17em;
    margin-left: 34px;
  }
  .card-group1 {
    width: 42vw;
  }
  .p1 {
    margin-top: -14vw;
  }
  .p2 {
    margin-left: 19vw;
  }
}

@media only screen and (max-width: 430px) {
  .dough {
    margin-left: -30px;
  }
  .icing {
    margin-left: 2px;
  }
  .card-group {
    width: 15em;
  }
  .p2 {
    margin-left: 100px;
  }
  .tip-button {
    width: 4.5em;
  }
  .card-group1 {
    width: 8.5em;
  }
  .card-input1 {
    margin-left: 0px;
    width: 4.5em;
  }
  .icing {
    width: 360px;
    margin-left: 18px;
  }
  .p1 {
    margin-left: -40px;
    margin-top: -75px;
  }
  .p2 {
    margin-left: 60px;
  }
}
